.userHub-container {
  @include flex(row, center, center);
  height: 100%;
  padding: 1rem 0;
  h2 {
    margin: 1rem;
  }
  .userHub {
    @include flex(column, unset, center);
    height: 100%;
    .info {
      text-align: center;
    }
    .menu {
      @include flex(column, space-around, flex-start);
      height: 100%;
      .links {
        text-decoration: none;
        padding-left: 1rem;
      }
      .links:hover {
        font-weight: 1000;
      }
    }
  }
}
