.admin-productDetails-container {
  padding: 1em;
  @include flex(row);
  .admin-productDetails {
    .product {
      @include flex(column, center, center);
      background: $first;
      padding: 1em;
      border-radius: 0.5rem;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      .flex {
        margin: 1em;
        @include flex(row, center, center);
        img {
          max-width: 20rem;
          border: 1px solid $fourth;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          margin-right: 2rem;
        }
        .grid {
          display: grid;
          grid-template-columns: 15rem 1fr;
          > * {
            align-self: end;
            border-bottom: 1px solid $fourth;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
