.card {
  text-align: center;
  width: 100%;
  background-color: $second;
  outline: 1px solid $fourth;
  border-radius: 0.5rem;
  .card-info {
    min-height: 5rem;
  }
  .title {
    cursor: pointer;
  }
  .buttons {
    @include flex(row, space-evenly, center);
    background-color: $fourth;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  img {
    border-bottom: 1px solid $fourth;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
  }
}
