.message-container {
  @include flex(row, center, center);
  min-height: 100%;
  .message {
    text-align: center;
    width: min(100%, 40rem);
    .text {
      min-height: 10rem;
      height: 10rem;
      width: 100%;
      border: 2px solid $third;
      resize: none;
      margin-bottom: 1rem;
    }
    .description {
      white-space: normal;
      text-align: justify;
    }
  }
}
