.admin-addClient-container {
  @include flex(row, center, center);
  .admin-addClient {
    text-align: center;
    width: 100%;
    @include flex(column, center, center);
    .form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      padding-bottom: 1rem;
      width: min(100%, 60rem);
    }
  }
}
@media screen and (max-width: 1081px) {
  .admin-addClient-container {
    align-items: unset;
    .admin-addClient {
      justify-content: unset;
      .form {
        display: block;
      }
    }
  }
}
