.formInput {
  width: 100%;

  input {
    background-color: unset;
    border: none;
    border-bottom: 1px solid $third;
  }

  input:focus {
    outline: none;
  }

  input:-webkit-autofill {
    background-clip: text;
    -webkit-background-clip: text;
  }

  span {
    font-size: 0.8rem;
    color: $fourth;
    display: none;
    text-align: center;
  }

  input:invalid[focused="true"] {
    border-bottom: 2px solid $fourth;
  }

  input:invalid[focused="true"] ~ span {
    display: block;
  }
}
