.admin-orders-container {
  height: 100%;
  width: 100%;
  .admin-orders {
    height: 100%;
    width: 100%;
    .table {
      height: 100%;
      width: 100%;
      tbody {
        cursor: pointer;
      }
    }
  }
}
