.signIn-container {
  @include flex(column, center, center);
  height: 100%;

  h3 {
    margin: 1rem 0 0 0;
  }

  .form {
    @include flex(column, space-evenly, center);
    width: 90%;
  }

  input {
    width: 100%;
    padding: 0.5rem;
  }

  .signIn {
    @include flex(column, space-between, center);
    width: 100%;
    margin: 1rem;
    overflow: auto;
  }

  button {
    all: unset;
  }

  .button {
    background-color: $light-brown;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
    width: 80%;
    color: $bg;
    border-radius: 0.1rem;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .button:hover {
    background-color: $medium-brown;
    transition: all 0.5s ease;
  }

  .button:active {
    background-color: $dark-brown;
    transition: 0.3s;
  }

  @media screen and (min-width: 700px) {
    .signIn {
      border-radius: 0.3rem;
      border: 1px solid $medium-brown;
      width: 30rem;
    }
  }
}
