.footer {
  height: 5rem;
  background-color: $light-brown;
  color: $medium-brown;
}

.footer-container {
  @include flex(column, flex-end, center);
  height: 100%;
  max-width: 1080px;
}

.social {
  @include flex(row, space-evenly, center);
  width: 10rem;
  font-size: 1.5rem;
}

.copyright {
  font-size: 0.8rem;
  line-height: 0.2rem;
  text-align: center;
}

.footer-links {
  text-decoration: none;
  color: $medium-brown;
  font-weight: 1000;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-links:hover {
  color: $dark-brown;
  transition: all 0.5s ease;
}
