.signUp-container {
  @include flex(row, center, center);
  min-height: 100%;
  .signUp {
    text-align: center;
    width: min(100%, 20rem);
    .signIn-link {
      text-align: center;
      line-height: 0.5;
    }
  }
}
