html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

///// Color Palette /////
$white: white;
$first: #f6f1ec;
$second: #f1ece3;
$third: #eee6db;
$fourth: #d3c0b2;
$fifth: #1f1f1f;

///// Global Classes /////
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

a {
  color: $fifth;
}

button {
  all: unset;
}

.main {
  height: calc(100vh - 10rem);
  background-color: $white;
}

.container {
  width: 95%;
  margin: 0 auto;
}
