html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

///// Color Palette /////
$white: white;
$first: #f6f1ec;
$second: #f1ece3;
$third: #eee6db;
$fourth: #d3c0b2;
$fifth: #1f1f1f;

///// Global Classes /////
@mixin flex($direction: row, $justify: unset, $align: unset) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  background-image: url("../img/bg.png");
  // background: $first;
}

a {
  color: $fifth;
}

button {
  all: unset;
}

i {
  cursor: pointer;
}
i:active {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

.main {
  height: calc(100vh - 8rem);
  overflow: auto;
  padding-bottom: 3rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.logo {
  width: 50%;
}

.error {
  margin: 1rem;
  text-align: center;
}

.lg {
  font-size: 1.5em;
}

.md {
  font-size: 1em;
}

.sm {
  font-size: 0.8em;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 20rem;
  }
}
