.cart-container {
  @include flex(column, center, center);
  min-height: 100%;
  padding: 1rem 0;
  .cart {
    @include flex(column, center, center);
    text-align: justify;
  }
  .cart-items {
    @include flex(column, center, center);
    .cart-items-details {
      padding: 0.5rem;
      width: min(100%, 1080px);
      @include flex(row, space-between, center);
      img {
        max-width: 20%;
        flex-basis: 30%;
        border: 1px solid $fourth;
      }
      p {
        text-align: center;
        flex-basis: 70%;
      }
      i {
        font-size: 2rem;
        flex-basis: 5%;
        color: rgb(78, 78, 78);
      }
    }
  }
  .order {
    @include flex(column, center, center);
    width: 100%;
    .buy {
      width: 30%;
    }
  }
}
